.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ddd;
  }
  
  .employee-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%; 
  }
  
  .employee-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    margin-bottom: 1rem;
  }
  
  .item {
    margin-bottom: 10px;
  }
